<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo 1/1" width="50px" height="50px">
        </a>
        <a class="navbar-brand-name"><img src="{{url_for('static', filename='images/logowords.png')}}" width="250px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('splitter') }}">Splitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('tuner') }}">Tuner</a>
                </li>
            </ul>
        </div>
    </nav>

    <canvas class="frequency-bars"></canvas>
    <div class="meter">
        <div class="meter-dot"></div>
        <div class="meter-pointer"></div>
    </div>
    <div class="notes">
        <div class="notes-list"></div>
        <div class="frequency">
            <span>Hz</span>
        </div>
    </div>
    <div class="a4">A<sub>4</sub> = <span>440</span> Hz</div>
    <label class="auto">
        Auto
        <input type="checkbox" checked />
    </label>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/aubiojs@0.1.1/build/aubio.min.js"></script>
    <script src="{{ url_for('static', filename='js/tuner.js') }}"></script>
    <script src="{{ url_for('static', filename='js/meter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/frequency-bars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
